body {
	font: normal normal 11px/normal Verdana, sans-serif;
	margin: 0px;
	color: #000000;
}
table.lightgrey {
	font: bold normal 12px/normal Verdana, sans-serif;
	color: #000033;
	background-color: #f0f0f0;	
}
table.blue {
	font: bold normal 12px/normal Verdana, sans-serif;
	color: #000033;
	background-color: #0c479d;	
}
table.teal {
	font: bold normal 12px/normal Verdana, sans-serif;
	color: #000033;
	background-color: #008080;	
}
table.borderall {
	border-left: 1px solid #0c479d;
	border-right: 1px solid #0c479d;
	border-top: 1px solid #0c479d;
	border-bottom: 1px solid #0c479d;
}
table.borderallred {
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}
th {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000033;
}
th.blue {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #0c479d;
}
th.teal {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #008080;
}
td {
	font: normal normal 11px/normal Verdana, sans-serif;
}
td.bgblue {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #0c479d;
}
td.bgteal {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #008080;
}
td.red {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FF0000;
}
td.bgwhite {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}
td.bglightgrey {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000000;
	background-color: #f0f0f0;
}
td.padding1 {
	font: normal normal 11px/normal Verdana, sans-serif;
	padding: 4.0pt 0pt 4.0pt 0pt;
	vertical-align: top;
}
td.padding2 {
	font: normal normal 11px/normal Verdana, sans-serif;
	padding: 4.0pt 6.0pt 4.0pt 6.0pt;
	vertical-align: top;
}
td.headerblue {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #0c479d;
	padding: 4px 8px 4px 8px;
}
td.headerteal {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #008080;
	padding: 4px 8px 4px 8px;
}
td.headerorange {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-image:url(shade-bkrm-04.gif);
	line-height:20px;
	padding: 2px 4px 2px 4px;
}
td.borderallblue {
	border-left: 1px solid #0c479d;
	border-right: 1px solid #0c479d;
	border-top: 1px solid #0c479d;
	border-bottom: 1px solid #0c479d;
}
td.borderallteal {
	border-left: 1px solid #008080;
	border-right: 1px solid #008080;
	border-top: 1px solid #008080;
	border-bottom: 1px solid #008080;
}
td.borderallred {
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}
td.borderall2 {
	border-left: 1px solid #df6403;
	border-right: 1px solid #df6403;
	border-top: 1px solid #df6403;
	border-bottom: 1px solid #df6403;
}
td.borderleftrightbottomblue {
	border-left: 1px solid #0c479d;
	border-right: 1px solid #0c479d;
	border-bottom: 1px solid #0c479d;
}
td.borderleftrightbottomteal {
	border-left: 1px solid #008080;
	border-right: 1px solid #008080;
	border-bottom: 1px solid #008080;
}
td.borderleftrightbottomred {
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}
td.borderleftrightbottom2 {
	border-left: 1px solid #df6403;
	border-right: 1px solid #df6403;
	border-bottom: 1px solid #df6403;
}
td.bordertop1 {
	border-top: 1px solid #aaaaaa;
}
td.bordertop2 {
	border-top: 1px solid #aaaaaa;
}
form {
	font: normal normal 11px/normal Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
}
input {
	font: normal normal 11px/normal Verdana, sans-serif;
}
input.none {
	font: normal normal 11px/normal Verdana, sans-serif;
	border: none;
}
select {
	font: normal normal 11px/normal Verdana, sans-serif;
}
textarea {
	font: normal normal 11px/normal Verdana, sans-serif;
}
pre {
	font: normal normal 11px/normal Verdana, sans-serif;
}
a:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: none;
}
a.small:link {
	font: normal normal 9px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a.small:visited {
	font: normal normal 9px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a.small:hover {
	font: normal normal 9px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: none;
}
a.maroon:link {
	font: normal bold 12px/normal Verdana, sans-serif;
	color: #800000;
	text-decoration: underline;
}
a.maroon:visited {
	font: normal bold 12px/normal Verdana, sans-serif;
	color: #800000;
	text-decoration: underline;
}
a.maroon:hover {
	font: normal bold 12px/normal Verdana, sans-serif;
	color: #800000;
	text-decoration: underline;
}
a.blue:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a.blue:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: none;
}
a.blue:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: underline;
}
a.orange:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: none;
}
a.orange:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: none;
}
a.orange:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: underline;
}
a.white:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
a.white:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
a.white:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
	text-decoration: none;
}
a.black:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000000;
	text-decoration: none;
}
a.black:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000000;
	text-decoration: none;
}
a.black:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: underline;
}
a.darkgrey:link {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #3d3d3d;
	text-decoration: none;
}
a.darkgrey:visited {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #3d3d3d;
	text-decoration: none;
}
a.darkgrey:hover {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	text-decoration: underline;
}
div {
	font: normal normal 11px/normal Verdana, sans-serif;
}

div.headerblue {
	font: normal bold 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #0c479d;
	line-height:20px;
	padding: 2px 4px 2px 4px;
}
div.headerteal {
	font: normal bold 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #008080;
	line-height:20px;
	padding: 2px 4px 2px 4px;
}
div.headerred {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #FF0000;
	line-height:20px;
	padding: 2px 4px 2px 4px;
}
div.headerorange {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #df6403;
	line-height:20px;
	padding: 2px 4px 2px 4px;
}
div.none {
	margin: 0px;
	padding: 0px;
}
div.white {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
}
div.black {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #000000;
}
div.darkgrey {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #3d3d3d;
}
div.maroon {
	font: normal normal 12px/normal Verdana, sans-serif;
	color: #800000;
}
div.orange {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
}
div.blue {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
}
div.teal {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #008080;
}
div.nav {
	font: normal normal 11px/normal Verdana, sans-serif;
	padding: 2px 4px 2px 4px;
}
div.titlebar {
	font: normal bold 11px/normal Verdana, sans-serif;
	padding: 4px 4px 4px 4px;
}
div.navmain {
	font: normal normal 11px/normal Verdana, sans-serif;
	padding: 2px 8px 2px 8px;
}
div.blue3 {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
	background-color: #f0f0f0;
	padding: 4px
}
div.tiny {
	font: normal 9px/normal Verdana, sans-serif;
	color: #b0b0b0;
	padding: 2px 4px 2px 4px;
}
div.copyright {
	font: normal 9px/normal Poppins, sans-serif;
	color: #ffffff;
	padding: 4px 4px 4px 4px;
}
img.behind {
	position: absolute;
	z-index: -1;
	azimuth: center;
}
font.blue {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #0c479d;
}
font.teal {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #008080;
}
font.orange {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #df6403;
}
.lineBG {
	background-color: #008080;
}
.tableBG {
	background-color: #008080;
}
.rightBG {
	background-color: #008080;
}
.actionBG {
	background-color: #008080;
}
.menu {
	font-size: 12px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000000;
}
.menuText {
	font-size: 12px;
	font-family: Poppins,Helvetica,Sans-serif;
	color: yellow
}
.menuBold {
	font-size: 12px;
	font-family: Poppins,Helvetica,Sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
}
.MenuDisable {
	font-size: 12px;
	font-family: Poppins,Helvetica,Sans-serif;
	color: #999999;
	background-color: #0c479d
}
.textFont {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000033;
}
.dateFont {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #800000;
}
.but {
	font-size: 11px;
}
.menuButton {
	font-size: 12px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #FFFFFF;
	background-color: #006699;
	width: 300px;
	margin-bottom : 5px;
}
.inputDisable {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000000; font-weight : bold;
	background-color: #f0f0f0
}
.entry {
	font-size: 12px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000000;
	background-color: #EDEDED;
}

.Header {
	font: normal normal 11px/normal Verdana, sans-serif;
	color: #FFFFFF;
	background-color: #008080;
	padding: 4px 8px 4px 8px;
}
.Label {
	font: bold normal 12px/normal Verdana, sans-serif;
	color: #000033;
}
.Data {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000033;
	background-color: #f0f0f0
}
.DataB {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000033;
	background-color: #f0f0f0;
	font-weight: bold;
}
.contentH {
	font-size: 10pt;
	font-family: Verdana,Poppins,Sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.contentD {
	font-size: 12px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #666666;
}
.Section {
	font-size: 10pt;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000033;
	background-color: #CCCC99;
	font-weight: bold;
}

.ErrData {
	font-size: 11px;
	font-family: Poppins,Helvetica,Sans-serif;
	color: #000000;
	background-color: #FF0000
}
.redText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #FF0000
}
.blueText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #0000CC
}
.tealText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #008080
}
.blackText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000000
}
.yellowText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #FFCC00
}
.whiteText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #FFFFFF
}
.greenText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #009900
}
.navyText {
	font-size: 11px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #000080
}
.maroonText {
	font-size: 12px;
	font-family: Verdana,Poppins,Sans-serif;
	color: #800000
}
.footer {
	font-size: 9px;
	font-family: Verdana,Poppins,sans-serif;
	color:#800000
}
#foldlist {
	list-style-image:url(tri.gif)
}
#node {
	list-style-image:url(node.gif)
}
#print {
	list-style-image:url(sym-printer-bkrm-01.gif)
}